@model IEnumerable<LibraryManagementSystem.Models.AddBook>
@{
    ViewData["Title"] = "BookDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BookDetails</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            @*<th scope="col">Id</th>*@
            <th scope="col">BookNo</th>
            <th scope="col">BookName</th>
            <th scope="col">AuthorName </th>
            <th scope="col">Price </th>
            <th></th>
            <th scope="col">Status </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {


        <tr>

            @*@<td>@item.Id</td>*@
            <td>@item.BookNo</td>
            <td>@item.BookName</td>
            <td>@item.AuthorName</td>
            <td>@item.Price</td>
            <td>@item.FileName</td>
            <td>@item.Status</td>


        </tr>
        }
    </tbody>
</table>
