@model IEnumerable<LibraryManagementSystem.Models.AddBook>
@{
    ViewData["Title"] = "SelectBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>SelectBook</h1>*@
<nav class="navbar navbar-light bg-light">
    <form class="form-inline" asp-controller="Home" asp-action="Search" method="get">
        <input align="Center" class="form-control mr-sm-2" type="search" placeholder="Search" name="searchString" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
@*<form action="UpdateStatus" method="get">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">BookNo</th>
                <th scope="col">BookName</th>
                <th scope="col">AuthorName </th>
                <th scope="col">Price </th>
                <th scope="col">Status </th>
                <th>            </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {


                <tr>

                    <td>@item.Id</td>
                    <td>@item.BookNo</td>
                    <td>@item.BookName</td>
                    <td>@item.AuthorName</td>
                    <td>@item.Price</td>
                    <td>@item.Status</td>


                    <td><input type="submit" value="Select" a /></td>


                </tr>
            }
            
        </tbody>
    </table>
</form>*@

